name: no-shows-cron

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Call cron endpoint
        run: |
          curl -sS "${{ secrets.CRON_URL }}" | head -c 500
